@font-face {
   font-family: building;
   src: url(fonts/building.ttf);
}
body{
    background: #C74828;
    color:#555861;
    font-style: bold;

}

#fondo{
    background: #F19100;
    margin-left: 15%;
    margin-right: 15%;
    z-index: 1;
    text-indent: 15;
    border-radius: 20px;
}
#contenido{
    margin-top: 1%;
    
}

#titulo {
    font-family: building;
    color:#FF5A09;
    font-size: 6em;
    height: auto;
    width:auto;
    background-color:#393939;
    z-index: 1;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#formulario{
    font-size: 2em;   
}
input{
  border-radius: 7px;
  font-family: Arial;
  color: #4d4d4d;
  font-size: 20px;
  background: #f5f5f5;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

input:hover {
  background: #ff9061;
  text-decoration: none;
}
